div {
	
}

#container {
	width: 1000px;
	margin: 0 auto;/* flush against top/bottom, but auto L/R */
}

.header {
    background-color: black;
    color: #3fcdff;
    font-family: 'Russo One', sans-serif;
	font-size: 24px;
	height: 160px;
}

body{
    background-image:url('../img/face.gif');
    background-repeat: repeat
}

.body-text{
float: left;  
}

.buy-album{
    float: left;
}

.icons{
    float: left;
}

.header-box{
    float:right;
    text-decoration: none;
    color: #3fcdff;
}

.left-col {
    color: black;
    font-family: 'Russo One', sans-serif;
	font-size: 20px;
	width: 560px;
	float:left;
    margin-left: 8px;
    background-color: #3fcdff;
}

.right-col {
	width:274px;
	float:right;
    background-color: #3fcdff;
}

.right-col a {
    text-decoration: none;
}

.left-col, .right-col{
    margin-top: 8px;
}

.records
{
    color: white;
}

.row {
    color: #3fcdff;
    font-family: 'Russo One', sans-serif;
	font-size: 24px;
    width: 1000px;
	clear:both;
    overflow:hidden;
    background-color: #3fcdff;
}

.highlighted {
    background-color: black;
}
.menu-item {
	background: black;
	color: #3fcdff;
    font-family: 'Russo One', sans-serif;
	font-size: 24px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 8px 8px;  /* top/down left/right */
	/* text-align:center; */
	margin-bottom: 16px;
	border: none;
}
