.header {
    width: 39%
}
.left-col {
	width: 47%:
}
.right-col {
	width: 100%
}
.row {
    width: 39%
}
h1 {
    font-size: 56%
        }
iframe {
    width: 70%
        }
.body-text {
    width: 69%
        }
.highlighted {
    width: 39%
        }